<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tang.mapper.UserRoleMapper">

    <select id="selectUserRole" parameterType="Integer" resultMap="Roles">
        SELECT r.name
        FROM public.user_role ur left join public.role r on ur.role_id = r.id
        where ur.user_id = #{userId};
    </select>

    <resultMap id="Roles" type="HashMap">
        <result property="name" column="name"/>
    </resultMap>


</mapper>